# Airflow Configuration
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=cambiar_passw

# OpenWeatherMap API
# Get your free API key at: https://openweathermap.org/api
WEATHER_API_KEY=api_key_aqui

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=airflow
DB_USER=airflow
DB_PASSWORD=airflow