# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
*.env

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
logs/

# IDE
.vscode/
.idea/

# Airflow
airflow.db
airflow.cfg
logs/